@import blueprint/reset
@import compass/utilities

// Base font
=base-font
  font: 13px Arial, Helvetica, sans-serif
  
// Links
a
  color: #000
  &:hover
    color: #000
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
  
// Base
html,
body
  height: 100%
  margin: 0 0 1px 0
  padding: 0
body
  +base-font
  background: #fff
  color: #0d0d0d
  padding: 20px